@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --main-blue: #cecece;
  --main-green: #e0e0e0;
  --main-grey: #f2f2f2;
  --main-red: #d41313;
  --main-white: #fff;
  --sub-blue: #bcc1c4;
  --sub-grey: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, var(--main-green), var(--sub-blue));
}

button {
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: var(--main-blue);
  color: var(--main-white);
  cursor: pointer;
}

.wrapper {
  margin: 40px auto;
  max-width: 30%;
  width: 100%;
  border-radius: 5px;
  background: var(--main-white);
  padding: 20px;
}

.wrapper header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.wrapper .inputField {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.inputField input {
  width: 85%;
  height: 100%;
  border: 1px solid var(--sub-grey);
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.inputField button {
  width: 100px;
  margin-left: 10px;
  font-size: 22px;
}

.inputField button:hover{
    background-color: rgb(41, 58, 249);
}

.wrapper .todoList {
  max-height: auto;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: var(--main-grey);
  margin-bottom: 8px;
  border-radius: 5px;
  padding-left: 15px;
  cursor: default;
  overflow: hidden;
}

.todoList li.checked{
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

.todoList li span {
  position: absolute;
  right: -45px;
  width: 45px;
  color: var(--main-white);
  text-align: center;
  background: var(--main-red);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.todoList li:hover span {
    right: 0;
}

.wrapper .footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.footer button {
  font-size: 16px;
  padding: 6px 10px;
}

.footer button:hover{
    background-color: rgb(41, 58, 249);
}

.footer button.active{
    background-color: rgb(41, 58, 249);
}