<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />


<div class="wrapper">

    <div class="inputField">
        <input type="text" placeholder="What needs to be done?">
        <button> <i class="fas fa-plus"></i> Add</button>
    </div>

    <header>Todo List</header>
  
    <ul class="todoList">
        <li> <input type="checkbox" class="checkbox"> Test React and Design to do list <span> <i class="fa fa-trash"></i></span></li>
        <li> <input type="checkbox" class="checkbox"> Right about React and Ant Design <span> <i class="fa fa-trash"></i></span></li>
        <li> <input type="checkbox" class="checkbox"> Book Flights to Ireland <span> <i class="fa fa-trash"></i></span></li>
    </ul>

    <div class="footer">
      <button class="active">All Todos</button>
      <button class="pending-btn">Pending</button>
      <button class="completed-btn">Completed</button>
    </div>

</div>
